
<SettingsData>
	<TimeSlice_US>2048</TimeSlice_US>
	<SpoolCircumference_MM>60.946897</SpoolCircumference_MM>
	<SpoolSingleStep_Degrees>0.225</SpoolSingleStep_Degrees>
	<Acceleration_Seconds>0.75</Acceleration_Seconds>
	<HorizontalDistance_MM>625</HorizontalDistance_MM>
	<MinVertical_MM>100</MinVertical_MM>
	<MaxVertical_MM>600</MaxVertical_MM>
	<StartingLeftDist_MM>394.42</StartingLeftDist_MM>
	<StartingRightDist_MM>394.42</StartingRightDist_MM>
</SettingsData>
